# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\apple_quality_screening_release\script\rename_file\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
